<!DOCTYPE html>
<html>
  <head>
    <title>Nomad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYMRZk1hIHV5Mhjeuc8KWwkNn9bBdxgAU&callback=initMap"
                                       async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
